@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

:root {
  --primary-color: #f6f0e7;
  --secondary-color: #7f685a;
  --tertiary-color: #b44830;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: "Gloria Hallelujah", cursive;
  margin: 0;
  height: 100%;
}

body.lock-scroll {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.u-image {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  padding-left: 0;
}

p {
  margin: 0 0 20px;
}

h1 {
  font-size: 2.4375rem;
  line-height: 1.15;
  letter-spacing: .75px;
}

h2 {
  font-size: 2.125rem;
  line-height: 1.1;
  letter-spacing: -.5px;
}

h3 {
  font-size: 1.75rem;
  line-height: 1.12;
  letter-spacing: .25px;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.25;
  letter-spacing: .2px;
}

p,
span {
  font-weight: 300;
}

b {
  font-weight: 700;
}

button {
  padding: 0;
  background: none;
  border: none;
}

div {
  display: block;
}

/* Full scale layout */
.layout {
  min-width: 320px;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.layout::after,
.layout::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
}

.layout::before {
  background-image: url(/images/seamless-background-texture.jpg);
  mix-blend-mode: multiply;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  background-repeat: repeat;
}

.layout.is-active {
  background-color: #f2b862;
}

.layout::after {
  opacity: 0.4;
  position: absolute;
  background: #fffbf6;
  background-image: linear-gradient(
      180deg,
      #f2b862 0,
      rgba(242, 184, 98, 0) 320px
    ),
    linear-gradient(0deg, #fffaf4 50%, #fffaf4);
  z-index: -3;
}

/* Navigation bar */
.nav-logo-block-mobile {
  display: flex;
  position: absolute;
  flex-direction: column;
  padding: 35px 20px;
  left: 0;
  z-index: 1;
}

.nav-button-mobile {
  display: block;
  position: absolute;
  top: 55px;
  right: 30px;
  width: 38px;
  height: 38px;
  margin-left: auto;
  background-image: url(/images/hamburger-lines-container.png);
  background-repeat: no-repeat;
  background-position: 50%;
  z-index: 80;
  cursor: pointer;
}

.button-image-mobile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
}

.nav-wrapper {
  height: auto;
  width: 100%;
  display: none;
  position: absolute;
  left: 0;
  z-index: 10;
}

.nav-container {
  position: relative;
  width: 100%;
  height: 0;
  flex-wrap: wrap;
  z-index: 2;
}

.nav-logo {
  width: 145px;
}

.nav-logo-block {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.nav-logo-block,
.nav-container {
  align-items: center;
}

.nav-divider {
  height: 28px;
  padding: 0 18px;
}

.nav-dates {
  display: block;
  font-family: "Poppins";
  font-size: 1.0625rem;
  font-weight: 600;
  color: #3a3a3a;
}

.nav_navList {
  width: auto;
  flex-direction: row;
  display: inline-flex;
  list-style: none;
  flex-wrap: wrap;
  margin: auto;
}

.nav_navItem {
  margin: 0 20px;
  text-align: center;
  font-size: 1rem;
  font-family: "Poppins", cursive;
  letter-spacing: 0.5px;
}

.backstroke {
  position: relative;
  z-index: 999;
}

.backstroke::before {
  content: "";
  position: absolute;
  width: 110%;
  min-width: 85px;
  height: 10px;
  opacity: 0;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -999;
  clip-path: polygon(0 0,100% 0,0 50%,100% 100%,0 100%);
  transition: all .5s ease;
}

.backstroke.is-active::before, .backstroke:hover::before {
  opacity: 1;
  clip-path: polygon(0 0,100% 0,100% 50%,100% 100%,0 100%);
  background-image: url(/images/nav-brush-stroke.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


.navbar {
  position: absolute;
  left: 50%;
  display: flex;
  height: 0;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 35px 0;
  align-items: center;
  justify-content: center;
  transform: translate(-50%);
  z-index: 1;
}

.nav-dropdown-container {
  display: flex;
  transform: translateY(-100%);
  width: 100%;
  padding: 180px 6.72% 56px;
  background-color: #fffdf4;
  z-index: -1;
  visibility: hidden;
  margin-top: -92px;
  transition: all 0.5s ease-in;
}

.nav-dropdown-container.is-active {
  transform: translateY(0);
  visibility: visible;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.nav-dropdown {
  max-width: 1920px;
  margin: 0 auto;
  flex-direction: row;
}

.nav-dropdown,
.nav-dropdown-child {
  display: flex;
  width: 100%;
}

.nav-dropdown-child {
  position: relative;
  height: 100%;
  min-height: 300px;
  transition: opacity 3s;
}

.nav-dropdown-child:last-child {
  margin-left: auto;
}

.nav-dropdown-images {
  width: 100%;
  max-width: 444px;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
  transition-delay: 0.2s;
}

#top-image {
  margin-top: -120px;
  height: 450px;
}

.nav-subList {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 300px;
  padding-left: 20px;
}

.navList-subItem {
  font-family: "Poppins";
  font-size: 25px;
  margin-bottom: 35px;
  flex-direction: row;
  font-weight: 900;
  line-height: 1.12;
  color: #3a3a3a;
  margin-right: 15px;
  /* width: auto; */
}

.sortList {
  float: right;
}

.nav-subListDesktop {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0);
  transition: all 0.5s ease;
  transition-delay: 0.2s;
}

.nav-subListDesktop.is-active {
  opacity: 1;
}

.nav-inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1920px;
  margin: 0 25px;
}

.mobile-nav {
  display: block;
  position: absolute;
  top: 35px;
  right: 38px;
  width: 38px;
  height: 38px;
  margin-left: auto;
  background-image: url(/images/hamburger-lines-container.png);
  background-repeat: no-repeat;
  background-position: 50%;
  z-index: 40;
  border: none;
}

.nav-mobile {
  display: flex;
  position: fixed;
  top: 100px;
  z-index: 50;
}
.nav_navListMobile {
  list-style: none;
}
.nav_navItemMobile {
  text-align: left;
  font-size: 2rem;
  margin: 20px 32px;
}

.mobile-button-image-close {
  display: none;
  width: 35px;
}

/* Pricelist section */
.header--wrapper {
  width: 100%;
  height: 100%;
  opacity: 0;
  margin: 0 25px;
  transform: scale(1.1);
  transition: transform .6s ease-out, opacity .35s ease-out;
}

.header--wrapper.scale-down {
  transform: scale(1);
}

.header--wrapper.fade-in, .header--anchorContainer.fade-in {
  opacity: 1;
}

.header--anchorContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1920px;
  min-height: 50px;
  padding:  30px 0;
  margin: 0 6.72%;
  opacity: 0;
  transition: opacity .35s ease;
}

.header--anchorJumpText {
  font-family: 'Poppins';
  font-weight: 500;
  text-transform: uppercase;
  font-size: .8125rem;
}

.header--anchorList {
  display: flex;
  width: 100%;
  max-width: 1920px;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  margin: 0 auto;
}

.header--anchorItem {
  min-width: max-content;
  font-size: 16px;
  font-weight: 900;
  padding: 0.625rem 0.9375rem;
  padding-left: 0;
}

.header--anchorItem a {
  display: block;
  border-bottom: 1px solid;
}

.passes--wrapper {
  width: 100%;
  max-width: 1920px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 6.72%;
  padding-top: 100px;
  font-family: 'Poppins';
}

.passes--leftContent {
  width: 25%;
  margin-bottom: 20px;
}

.passes--pageTitle {
  font-size: 1.9375rem;
}

.passes--container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  margin-bottom: 40px;
}

.passes--pageDivider {
  margin: 24px 0;
}

.passes--textContent {
  width: 100%;
}

.passes--date {
  font-size: .8125rem;
  font-weight: 400;
  margin-bottom: 6px;
}

.passes--type {
  margin-bottom: 16px;
}

.passes--pageDivider {
  width: 79px;
  background-color: #287984;
  border-bottom: 0;
  height: 4px;
  border-radius: 2.5px;
  border-width: 0 0 1px;
}

.grid-column--12 {
  width: 100%;
}

.passes--container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  margin-bottom: 40px;
}

.passes--textContent {
  width: 100%;
}

.passes--date {
  font-size: .8125rem;
  font-weight: 400;
  margin-bottom: 6px;
}

.passes-price {
  position: relative;
  margin-bottom: 33px;
}

.passes-price-current--strikethrough, .passes-price-upcoming--strikethrough {
  font-size: 22px;
  text-decoration: line-through;
}

.passes-priceItem::before {
  content: '$';
  font-size: 1rem;
  vertical-align: top;
}

.passes--textContent a {
  border-bottom: 1.5px solid #287984;
  font-weight: 700;
  padding-bottom: 0.5px;
  text-decoration: none;
}

.passes--cardInfo {
  font-weight: 400;
}

.passes--showMoreContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #b2b1b5;
}

.passes--showMore {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.passes--showMore:hover {
  cursor: pointer;
}

.passes--showMore::after {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  background-image: url(/images/plus.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transform: scale(.8);
}

.passes--showMoreContent {
  display: block;
  visibility: hidden;
  height: 0;
  width: 100%;
  padding-bottom: 16px;
}

.passes--showMoreContent.is-active {
  visibility: visible;
  height: 100%;
}

.passes-list, .passes--listItem {
  display: flex;
}

.passes-list {
  flex-wrap: wrap;
  list-style: none;
  padding-top: 20px;
  border-top: 1px solid #b2b1b5;
}

.passes--listItem {
  font-size: .8125rem;
  line-height: 1.38;
  margin-bottom: 0;
  width: 100%;
  align-items: baseline;
}

.passes--listItem::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #287984;
  margin-right: 24px;
  padding: 0 4px;
}

.passes-learnMore {
  align-items: center;
  font-size: 1rem;
  font-weight: 300;
  height: 42px;
  padding-bottom: 16px;
}

.passes-learnMore a:hover {
  color: #287984;
}

.passes-forwardArrow {
  line-height: 1.23;
  color: #3a3a3a;
  text-transform: uppercase;
  display: flex;
}

.passes-forwardArrow img {
  width: 0.875rem;
  height: 0.875rem;
}

.passes-buttons {
  padding-top: 34px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.header--container {
  width: 100%;
  max-width: 1920px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
  color: #3a3a3a;
}

.headerContent-left {
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1.25rem;
  padding-left: 0;
}

.headerContent-right {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
}

.header--image {
  width: 100%;
  height: auto;
}

.grid-column {
  min-height: 1px;
  float: left;
}

.header--textContent {
  width: 100%;
  max-width: 535px;
  padding-top: 2.1875rem;
}

.header-textHeader {
  line-height: .92;
  letter-spacing: -1.25px;
  margin-bottom: 16px;
}

.header--textBody {
  font-family: 'Poppins';
  font-size: 1.25rem;
  font-weight: 300;
}

/* Hero section */
.hero-textContent {
  font-family: "Poppins";
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 1;
}

.hero-logo {
  font-size: 2.1875rem;
  letter-spacing: 3.4px;
  text-align: center;
  max-width: 400px;
}

.hero-logo-inner {
  display: inline-block;
  text-align: right;
  width: 100%;
}

.hero-wrapper {
  width: 100%;
  font-family: "Gloria Hallelujah", cursive;
}

.hero-container {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15.625rem 1.375rem 20px;
}

.hero-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 1;
}

.hero-squiggle {
  width: 40px;
  padding: 1.5rem 0;
}

.hero-tagline {
  font-size: 2rem;
  font-family: "Gloria Hallelujah";
  line-height: 1.1;
  padding-bottom: 2rem;
  text-align: center;
}

.btn {
  width: 220px;
  height: 50px;
  position: relative;
  color: #3a3a3a;
  font-size: 14px;
  font-weight: 600;
  z-index: 1;
  white-space: nowrap;
  margin: 10px;
  border: 2px solid #000;
  box-shadow: inset 0 0 0 0 #000;
  transition: ease-out 0.5s;
}

.btn:hover {
  box-shadow: inset 0 175px 0 0 #000;
  cursor: pointer;
}

.btn a {
  padding: 12.5px 18px;
  display: block;
  color: #000;
}

.btn a:hover {
  color: var(--primary-color);
}

.hero-btn {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

/* Site content */
.content-wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 24px;
  padding: 80px 0;
}

.featured-content-container {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  max-width: 1920px;
  margin: 0 24px;
  padding: 32px 0;
  margin-top: 100px;
}

.featured-content-left-1,
.featured-content-right-1,
.featured-content-left-2,
.featured-content-right-2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.featured-content-image {
  align-self: baseline;
  max-width: 90%;
}

.featured-content-right {
  padding-top: 60px;
}

.featured-content-squiggle {
  width: 48px;
  height: 27px;
  position: relative;
  bottom: 30px;
  left: 45px;
}

.featured-content-textHeader {
  font-size: 3.825rem;
  line-height: 1.1;
  letter-spacing: -0.5px;
  padding-top: 12px;
  margin-bottom: 26px;
}

.featured-content-textBody {
  font-family: "Poppins", cursive;
  line-height: 1.5;
  font-size: 1rem !important;
}

.card-container {
  max-width: 1920px;
  padding-top: 100px;
}

/* Footer */
.text-logo {
  max-width: 177px;
  width: 100%;
}

.footer-line {
  margin-top: 75px;
  height: 3px;
  background-color: #000;
}

.footer-container {
  position: relative;
  font-family: "Poppins";
  margin: 0 25px;
  padding-top: 60px;
}

.footer-content-container {
  display: grid;
  gap: 30px;
}

.footer-logo {
  display: flex;
  flex-direction: column;
}

.sponsor-logo {
  max-width: 105px;
  width: 100%;
  margin-top: 14px;
}

.footer-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 17px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-listItem {
  font-size: 12px;
  font-weight: 400;
}

.footer-copyright {
  font-size: 0.75em;
  font-weight: 300;
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 0;
}

.footer-socials {
  display: flex;
  flex-direction: column;
}

.footer-socials,
.footer-btn {
  margin: 0;
  max-width: 194px;
  width: 100%;
}

.footer-socialList {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, minmax(auto, 34px));
  gap: 13px;
  margin-top: 12px;
}

.footer-socialIcons {
  width: 34px;
  height: 34px;
}

.footer-img {
  position: relative;
  z-index: -1;
}

/* Media query */
@media screen and (min-width: 360px) {
  .nav-logo-mobile {
    width: 140px;
    margin-top: 13px;
  }
  .nav-mobileWrapper {
    display: block;
    right: 0;
    top: 0;
    height: 100vh;
    transform: translateX(100%);
  }
  .nav-mobileWrapper::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/images/mobile-gradient-menu.png) no-repeat;
    background-size: cover;
    background-position: bottom;
  }
  .nav-mobileWrapper.fixed {
    position: fixed;
    left: 0;
    z-index: 10;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .nav-mobileWrapper.show {
    display: block;
    overflow: hidden;
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
  }
  .nav_mobileContainer {
    position: relative;
    width: 100%;
    z-index: 3;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .hero-logo {
    font-size: 1.85rem;
  }
  .featured-content-container {
    flex-direction: column;
  }
  .featured-content-image {
    width: 90%;
  }
  .featured-content-right-1 {
    margin-top: 80px;
    position: relative;
    right: 20px;
  }
  .featured-content-right-2 {
    margin-top: 15px;
  }
  .featured-content-left-2 {
    position: relative;
    right: 20px;
  }
  .grid-column--offset-1 {
    margin-left: 5.33333333%;
  }
  .grid-column--7 {
    width: 75%;
  }
  .passes--leftContent {
    width: 50%;
    margin-bottom: 20px;
  }
  .passes-buttons {
    flex-direction: column;
  }
}

@media screen and (min-width: 375px) {
  .hero-logo {
    font-size: 2rem;
  }
  .nav-mobileWrapper {
    width: 100%;
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;
    z-index: 70;
  }
  .nav-mobileWrapper.invisible {
    display: none;
  }
  .nav-mobileWrapper.fixed {
    position: fixed;
    left: 0;
    z-index: 10;
    height: 100%;
  }
  .nav-mobileWrapper.show {
    display: block;
    position: fixed;
    left: 0;
    transform: translateX(0);
    height: 100vh;
    overflow: hidden;
  }
  .nav_mobileContainer {
    position: relative;
    width: 100%;
    padding-top: 100px;
    height: 100vh;
    z-index: 3;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .header--anchorItem {
    padding-right: 2.5rem;
  }
  .featured-content-container {
    flex-direction: column;
  }
  .featured-content-image {
    width: 90%;
  }
  .featured-content-right-1 {
    margin-top: 80px;
    position: relative;
    right: 20px;
  }
  .featured-content-right-2 {
    margin-top: 15px;
  }
  .featured-content-left-2 {
    position: relative;
    right: 20px;
  }
  .grid-column--offset-1 {
    margin-left: 5.33333333%;
  }
  .grid-column--7 {
    width: 75%;
  }
  .passes--leftContent {
    width: 50%;
    margin-bottom: 20px;
  }
  .passes-buttons {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .nav-wrapper {
    display: block;
  }
  .header--wrapper {
    margin: 0 6.72%;
  }
  .header--anchorContainer {
    margin-top: 2.5rem;
  }
  .grid-column--offset-1 {
    margin-left: 8.33333333%;
  }
  .grid-column--7 {
    width: 58.33333333%;
  }
  .passes--pageTitle {
    font-size: 3rem;
  }
  .passes--container {
    max-width: 500px;
  }
  .navList-subItem {
    width: calc(50% - 15px);
  }
  .nav-dropdown-child {
    max-width: 50%;
  }
  .nav-logo-block-mobile {
    display: none;
  }
  .nav-logo-mobile {
    display: block;
  }
  .nav-divider {
    display: none;
  }
  .nav_navListMobile {
    display: none;
  }
  .nav_navList {
    margin-bottom: 1rem;
  }
  .nav-mobileWrapper::before {
    display: none;
  }
  .nav_navItem {
    display: inline-flex;
    font-size: 16px;
    margin: 15px 0px 0px 30px;
  }
  .nav-button-mobile {
    display: none;
  }
  .hero-container {
    padding: 18.75rem 6.72% 40px;
  }
  .hero-logo {
    font-size: 2.125rem;
    max-width: 100%;
  }
  .hero-logo-inner {
    all: unset;
  }
  .featured-content-container {
    flex-direction: row;
  }
  .featured-content-image {
    width: 90%;
  }
  .featured-content-right-1 {
    margin-top: 80px;
    position: relative;
    right: 20px;
  }
  .featured-content-right-2 {
    margin-top: 15px;
  }
  .header--wrapper {
    margin: 0 6.72%;
  }
  .header--container {
    margin: 0 auto;
  }
  .headerContent-left {
    order: 1;
  }
  .headerContent-right {
    order: 2;
  }
  .grid-column-sm {
    width: 50%;
  }
  .featured-content-left-2 {
    position: relative;
    right: 20px;
  }
  .footer-content-container {
    grid-template-columns: 1fr 2fr auto;
    justify-content: center;
  }
  .passes--container {
    margin: 20px;
  }
  .passes-buttons {
    flex-direction: row;
  }
  .footer-socials,
  .footer-btn {
    margin-left: auto;
  }
  .footer-socialList {
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1024px) {
  .nav-logo-block {
    display: flex;
    flex-direction: row;
    margin: auto;
  }
  .nav_navList {
    margin-bottom: 1rem;
  }
  /* .nav-inner {
    margin: 0 6.72%;
  } */
  .header--anchorContainer {
    position: relative;
  }
  .header--anchorItem {
    width: auto;
  }
  .grid-column {
    padding-right: 3%;
  }
  .passes-wrapper {
    padding: 80px 0;
  }
  .grid-column--6 {
    width: 50%;
  }
  .grid-column--3 {
    width: 25%;
  }
  .nav-divider {
    display: block;
  }
  h1 {
    font-size: 3.8125rem;
    line-height: .92;
    letter-spacing: -1.25px;
  }
  h2 {
    font-size: 3rem;
    line-height: 1;
    letter-spacing: .75px;
  }
  h3 {
    font-size: 1.9375rem;
    line-height: 1.1;
    letter-spacing: .25px;
  }
  h4 {
    font-size: 1.5625rem;
    line-height: 1.12;
    letter-spacing: .25px;
  }
  .footer-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 17px 30px;
  }
}

@media screen and (min-width: 1250px) {
  .nav-button-mobile {
    display: none;
  }
  .nav-wrapper {
    display: block;
  }
  .nav-logo-block-mobile {
    display: none;
  }
  .nav-logo-mobile {
    display: none;
  }

  .nav-logo-block {
    display: flex;
  }
  .nav-button-mobile {
    display: none;
  }
  .nav_navItem {
    font-size: 17px;
    margin: 15px 0px 0px 40px;
  }
  .hero-logo {
    font-size: 4.5rem;
  }
  h1 {
    font-size: 4.75rem;
    line-height: .95;
    letter-spacing: 2px;
  }
  h2 {
    font-size: 3.8125rem;
    line-height: .92;
    letter-spacing: -1.25px;
  }
  h3 {
    font-size: 2.4375rem;
    line-height: 1;
    letter-spacing: -.75px;
  }
  h4 {
    font-size: 1.9375rem;
    line-height: 1.1;
    letter-spacing: -.5px;
  }
  .featured-content-container {
    flex-direction: row;
  }
  .featured-content-image {
    width: 90%;
  }
  .featured-content-right-1 {
    margin-top: 80px;
    position: relative;
    right: 20px;
  }
  .featured-content-right-2 {
    margin-top: 15px;
  }
  .featured-content-left-2 {
    position: relative;
    right: 20px;
  }
  .footer-content-container {
    grid-template-columns: 1fr minmax(auto, 700px) 1fr;
    gap: 70px;
  }
  .footer-listItem {
    font-size: 16px;
    text-align: center;
  }
}
